.photo-grid__list {
    margin: 0;
    padding: 0;
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    width: 100%;
}

/* для разрешения 320px */
@media screen and (max-width: 320px) {
    .photo-grid__list {
        gap: 12px;
    }
}