.place__image {
    margin: 0;
    padding: 0;
    max-width: 460px;
    height: auto;
}

/* для разрешения 1024px */
@media screen and (max-width: 1024px) {
    .place__image {
        width: 42.968750vw;
    }
}

/* для разрешения 768px */
@media screen and (max-width: 768px) {
    .place__image {
        width: 44.270833vw;
    }
}

/* для разрешения 320px */
@media screen and (max-width: 320px) {
    .place__image {
        width: 100vw;
        margin-bottom: 32px;
    }
}