.lead__title {
    padding: 0;
    margin: 0 auto 32px;
    max-width: 720px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 689px) {
    .lead__title {
        font-size: 12vw;
    }
}

/* для разрешения 320px */
@media screen and (max-width: 320px) {
    .lead__title {
        margin-bottom: 16px;
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}