.cover {
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 2*48px);
    display: flex;
    flex-direction: column;
}

/* для разрешения 1024px */
@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
    }
}