/* для разрешения 1024px */
@media screen and (max-width: 1024px) {
    .photo-grid__items {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
    }
}

/* для разрешения 768px */
@media screen and (max-width: 768px) {
    .photo-grid__items {
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        gap: 16px;
    }
}

/* для разрешения 320px */
@media screen and (max-width: 320px) {
    .photo-grid__items {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 12px;
    }
}